@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
}

.generator > .text_button > .buttonPrompter {
  display: flex;
  align-items: center;
  flex: 0.2;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #efabff;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  transition: 0.3s all linear;
  cursor: pointer;
  font-size: 20px;
  font-family: "Poppin", sans-serif;
  color: white;
  justify-content: center;
  padding: 10px;
}

.generator > .text_button > .generator__prompts {
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;

  min-height: 23px;

  background: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 600px) and (max-width: 1000px) {
  .generator > .text_button > .generator__prompts {
    width: 85%;
  }

  .generator {
    height: 100%;
    padding-top: 10%;
  }

  .inspire-text {
    margin-top: 20%;
  }


  form > button {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 40px;
    border-radius: 0px !important;
  }

  form > input {
    width: 50% !important;
    border-radius: 20px;
  }

  form {
    margin-top: 50px !important;
  }

}

.subscribe {
  text-align: center;
  padding-top: 20px;
}

.text_button {
  text-align: center;
  margin-top: 10%;
}

.inspire {
  width: 100%;
  text-align: center;
}

.inspire-text {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10%;
  color: white;
  font-family: "Nunito", sans-serif;
}

canvas {
  background-color: #F0EFF4;
}

form {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid whitesmoke;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

form > input,
button {
  padding: 10px;
}

form > input {
  width: 15%;
}
